<h6><b>Attribute Directives</b></h6>

<br>
<h6>appHighlight - With static color:</h6>
<p appHighlight>Highlight me!</p>
<br>
<h6>appHighlightV1 - Respond to user-initiated events:</h6>
<p appHighlightV1>Highlight me!</p>

<br/>
<h6>appHighlightV2 - Pass values into the directive with an @Input data binding:
</h6>
<p appHighlightV2> highlightColor is not passed. So, It would be highlighted with default color(red) specified in directive.

</p>
<p appHighlightV2 [highlightColor]="color">Highlight me in the color specified by component(green)</p>
<br/>
<h6>appHighlightV3 - Bind to an @Input alias:</h6>
<p appHighlightV3 [appHighlightV3]="color">Highlight me - Used both property and directive names</p>
<p [appHighlightV3]="color">Highlight me - Used both property and directive names together</p>

<br>
<hr>

<h6><b>Structural Directives</b></h6>

<br>
<h6>*ngIf:</h6>
<div *ngIf="currentHero" class="class-name">Diplay Name Here: {{currentHero.name}}</div>
<div [style.display]="currentHero ? 'block': 'none'">{{currentHero.name}}</div>

<div *ngIf="nullHero" class="something">{{nullHero.name}}</div>
<div [style.display]="nullHero ? 'block': 'none'">{{nullHero?.name}}</div>