<h6><b>Interpolation Binding</b></h6><br>
<p>My current hero is {{currentHero.name}}</p>

<img src="{{heroImgUrl}}" style="height:50px;">
<img src="./assets/images/hero.jpg" style="height:50px;">

<p>The Sum of 2 + 7 is {{2+7}}</p>
<p>The sum of  1 +1 is not equal to {{1 + 1 + getVal()}}</p>

<script>
    alert('Hello');
</script>

<hr>

<h6><b>Property Binding</b></h6><br>

<img [src]="heroImgUrl" style="height:50px">
<img bind-src="heroImgUrl" style="height:50px"><br/>

<button [disabled]="formNotChanged">Cancel</button>
<br/><br/>

<app-hero-details [task]="currentHero"></app-hero-details>
<app-hero-details task="{{currentHero}}"></app-hero-details>
<br/>

<button (click)="updateHero()">Update Here</button>

<br/><br/>
<div ngClass [ngClass]="classConditions">[ngClass] class condition is adding here</div>
<br/><br/>

<h6>Usign function call in bindings:</h6>
<img src="{{getHeroImg()}}" style="height:50px;">
<img [src]="getHeroImg()" style="height:50px">
<img bind-src="getHeroImg()" style="height:50px">

<br/><br/>
<app-hero-details task="currentHero"></app-hero-details>

<br/><br/>
<h6>Script tags in property bindings:</h6>
<p><span>"{{jesussave}}"</span> and the entire the world <i>---interpolation bind</i>data </p>
<p>"<span [innerHTML]="jesussave"></span>"and the entire the world <i>---property bind</i>data </p>


<br/><br/>
<h6>Attribute, class, and style bindings</h6><br/>

<h6>Attribute binding</h6>
<input type="text" value="Raju" placeholder="Name">
<br><br>

<table class="table table-bordered text-center">
  <tr>
    <td id="tdId" colspan="2">One</td>
  </tr>
  <tr>
    <td>Three-Four</td>
    <td>Three-Four</td>
  </tr>
</table>
<br><br>

<div>Un-comment below binding to get error</div>
<table class="table table-bordered text-center">
  <tr>
    <!-- <td colspan="{{ noOfColumns }}">One</td> -->
  </tr>
  <tr>
    <td>Three-Four</td>
    <td>Three-Four</td>
  </tr>
</table>

<div>Attribute binding</div>
<table class="table table-bordered text-center">
  <tr>
    <td [attr.colspan]="noOfColumns">One</td>
  </tr>
  <tr>
    <td>Three-Four</td>
    <td>Three-Four</td>
  </tr>
</table>
<br>

<h6>Class bindings</h6>
<div>I. Reset/override all class names with class property binding</div>
<div class="hello my-class" [class]="classNames">Property class working</div>
<div class="bad curly special" [class]="badCurly">Bad curly</div>
<br/>

<div>II. Toggle a single class</div>
<div [class.special]="special">This is special class</div>
<div [class.notspecial]="!special">This is not a special Class</div>
<div [class.very]="special" [class.special]="special">This is a very special class</div>
<div class="not" [class.very]="special" [class.special]="special">This is not very special Class</div>
<br/>

<div>III. Toggle Multiple classes(ngClass directive)</div>

<div [ngClass]="classConditions">Multiple class bindings</div>
<div class="another-class" [ngClass]="classConditions">Multiple class bindings dont override other existing classes</div>
<br/><br/>
<h6>Syle bindings</h6>
<button [style.color]="saveable ? 'red': 'yello'">Save</button>
<br/><br/>
<button [style.background]="modified ? 'blue': 'green'">save</button>
<br/> <br/>
<button [style.color]="isspecial ? 'red' : 'yellow'" [style.background]="isspecial ? 'green' : 'red'">Save</button>
<br/> <br/>
<button [style.font-size.px]="saveable ? '22' : '11' ">Font Size</button>
<br/><br/>
<button [style.fontSize.px]="modified ? '11' : '18'">Camel case font size</button>
<br/><br/>
<button [ngStyle]="currentStyles">Div styles are applied</button>
<br/><br/>

<h6><b>Event Binding</b></h6>
<button (click)="onSave($event)">Click Here</button><br><br>
<button on-click="onSave($event)">Save</button><br/><br/>
<input type="text" (keypress)="onSave($event)"/>

<br>
<hr>
<h6><b>Template Expression Operators</b></h6>
<br>